<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sticky Demo</title>
	<style type="text/css">
	body {
		margin: 0;
		padding: 0;
	}
	
	div.view {
	  display: flex;
	  flex-direction: column;
	  min-height: 100vh;
	}

	header {
	  min-height: 150px;
	  background-color: beige;
	  padding: 1em;
	}

	div.main {
	  flex: 1;
	  padding: 1em;
	}

	footer {
	  min-height: 150px;
	  background-color: beige;
	  padding: 1em;
	}
	</style>
</head>
<body>
<div class="view">
	<header>
  The header area
</header>
<div class="main">
  The main body copy here
</div>

<footer>
This is where the footer will go
</footer>
</div>
</body>
</html>