{% block rsvg_blocks %}
    {% for obj in c_list %}
    <svg version="1.1" id="lb{{obj.item}}" class="box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
    <defs>
    <filter id="blurFilter2" x="-5" y="-5" width="20" height="20">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
    </filter>
</defs>
	<rect fill="{{ obj.color }}" width="200" height="200" id="lr{{ obj.item }}" style="filter: url(#blurFilter2);" />
	</svg>
    {% endfor %}
{% endblock %}