{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
{#    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />#}
{#    <link href='http://fonts.googleapis.com/css?family=Puritan:400,700,400italic,700italic|Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>#}
    {%  block addedcss %}
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
    {% endblock %}

</head>
<body>
<div id="view">
    <header class="navbar navbar-head">
    <div class="site_head">
        <img src="{% static 'images/BR_only_p.png' %}"/>
     </div>
     <p>bradrice.com</p>
</header>
 <div id="main">
    <div class="container">
        {% block content %}{% endblock %}
    </div>

</div>
<footer>
    <div class="footer">
        <div class="container">
            <h3>Brad Rice</h3>
             <p>Footer Stuff</p>
        </div>
    </div>
</footer>
</div>

{%  block scripts %}{%  endblock %}
</body>
</html>