{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{%  load staticfiles %}
    <div id="lblocks">
    <div class="wrap">
         {% block svg_blocks %}
    {% for obj in p_list %}
    <svg version="1.1" id="lb{{obj.item}}" class="box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 10 10" enable-background="new 0 0 10 10" xml:space="preserve">
    <defs>
    <filter id="blurFilter4" x="-5" y="-5" width="5" height="5">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
    </filter>
</defs>
	<rect fill="{{ obj.color }}" width="10" height="10" id="lr{{ obj.item }}" url(#blurFilter4); />
	</svg>
    {% endfor %}
{% endblock %}
    </div>

    </div>
    <div id="personal">Brad's personal info</div>
    <div id="rblocks">
    <div class="wrap">
        {% include '_rsvg_blocks.html' %}
    </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static "js/site.js" %}"></script>
    <script type="text/javascript">
$(document).ready(function(){
$(".box").on('mouseover', function(){
    var els = $(this.getElementsByTagName('rect'));
    var el = els.get(0);
{#    console.log(el);#}
    var thisclr = el.getAttribute('fill');
    var newclr = shadeColor1(thisclr, 30);
    el.setAttribute('fill', newclr);
    });
});
</script>
{% endblock %}
