{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block addedcss %}
{% endblock %}
{% block content %}
<div id="body">
		<div class="row">
			<div class="panel intro_panel">
			<p class="intro"><img src="{% static 'images/BradRice.png' %}" alt="self" style="float: right; margin-left: 1em; border: 1px solid #5c585f;" />I focus on designing and building semantic web sites utilizing both creative and technical skills. Melding web development and design to allows me to craft user friendly and functional websites. I utilize creative design and cutting edge technology to provide emotional and enjoyable web experiences. Designing and developing for exceptional web experiences is my passion.</p>
		</div>
		</div>
		<div class="row">
			<div class="large-9 columns">
				<h2>Current Experience</h2>
				<p>The University of Akron <span class="times">February 2007 - Present</span><br />
				302 Buchtel Common<br />
				Akron, OH 44325</p>
				<p><strong>Responsibilities:</strong> Web Design. Site wide development utilizing html, css, and javascript. Work with individuals, departments and top level university sites. Design and develop web apps utilizing dotcms content management system as well as PHP traditional development.</p>
			</div>
		</div>
		<div class="row">
			<div class="large-9 columns">
				<h2>Software</h2>
				<p>Adobe Photoshop, Illustrator, InDesign, Microsoft Office, Quark XPress, Macromedia Flash, Dreamweaver, Fireworks, OmniGraffle as well as other graphic applications.</p>
			</div>
		</div>

		<div class="row">
			<div class="large-9 columns">
				<h2>Technical Expertise</h2>

				<ul>
					<li>Design of Graphic User Interfaces, User Experience and Information Architecture</li>
					<li>Highly experienced in HTML, JavaScript and CSS</li>
					<li>Very knowledgeable with javascript libraries and frameworks such as Angular JS and JQuery</li>
					<li>Programming ability using PERL, PHP, Python (Django), Java Velocity templating and ASP</li>
					<li>Experienced with MySql and sequel language</li>
					<li>Knowledge of dotCMS, Wordpress and Content Management Systems to maintain various websites</li>
						<li>Utilize version control through Git</li>
						<li>Mobile Web interface design, Responsive web development</li>
				</ul>
				<p>Special interest in the Mac OS X (Unix) operating system and have working experience in utilizing a Mac OS workstation. I have used Macintosh for over 25 years.
					Knowledgeable of Windows and working in a Windows PC environment. Interest in Linux and virtual systems.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="large-9 columns">
				<h2>Interactive portfolio of sites</h2>
				<ul>
					<li><a href="portfolio">Portfolio</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="large-9 columns">
				<div class="emp">
					<h2>Related Experience</h2>
					<p>HKM Direct Market Communications <span class="times">March 1992 – Feb. 2007</span><br />
						5501 Cass Avenue, Cleveland, OH  44102<br />
						Graphic Designer/Web Developer<p>
					<p><strong>Responsibilities:</strong> Art director, creative designer and project manager for print and the Web. Meet with clients, sales, and customer service reps to map out and plan a project. Utilize multiple programs in Web development and design of Web applications: html, css, javascript, flash, .asp, php, perl and other programming languages. Developed a print on demand web to print system.  Maintain Web servers running Apache perl and php.</p>
					<p>Clients include Bank One, Sherwin-Williams, University Hospitals, Key Bank, Parker Hannifin, Charter One, and many other accounts mostly in the area of direct market advertising. </p>
				</div>
				<div class="emp">
					<p>Freelance Artist <span class="times">1991 -1992</span><br />
					<p><strong>Responsibilities:</strong> Art direction and production of advertising design.  Used a Macintosh
	computer for advertising design, page layout and illustration.  Clients included area advertising agencies.</p>
				</div>
				<div class="emp">
					<p>Richard Desberg and Associates <span class="times">1990 -1991</span><br />
					Art Director<br/>
					<strong>Responsibilities:</strong> Created retail advertising from concept to finish. Used a Macintosh computer for advertising design, page layout, and illustration. Illustrated products in pen and ink.  Clients included retail advertisers.
					</p>
				</div>
				<div class="emp">
					<p>Medina County Gazette <span class="times">1985 -1989</span><br/>
					Graphic Designer/ Illustrator<br/>
					<strong>Responsibilities:</strong> Created graphics and illustration for both editorial and advertising </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-9 columns">
				<h2>Community Service</h2>
				<ul>
					<li>Village of Lodi, Councilman since 2000</li>
					<li>Board of Trustees member of Medina County District Library since 2012</li>
				</ul>

				<h2>Continuing Education</h2>
				<ul>
					<li>Thunder Lizard 3 day Photoshop conference - intense photoshop training with some of the best designers in the country</li>
					<li>dotCMS training in Miami Florida at the dotCMS headquarters</li>
					<li>Penn State Web conference 2013 - all things web with an emphasis on mobile and responsive design.</li>
					<li>Avid reader of technical books. My iPad is filled with ebooks for all kinds of technology</li>
				</ul>
			</div>
		</div>
	</div><!-- end body -->

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static "js/site.js" %}"></script>
{% endblock %}