{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>{% block title %}{% endblock %}</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />

    {%  block addedcss %}
    {% endblock %}

</head>
<body>
<div id="view">
    <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Home</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Web resources</a>
          <ul class="dropdown">
          <li><a href="/sass-resources">SASS resources</a></li>
          <li><a href="/less-resources">Less resources</a></li>
            <li><a href="/flex-resources">Flex resources</a></li>
            <li><a href="/color-resources">Color resources</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/resume">Resumé</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
         <li><a href="/blog">Brad's Weblog</a></li>
    </ul>
  </section>
</nav>
          <header class="navbar navbar-head">
    <div class="site_head">
        <a href="/"><img src="{% static 'images/BR_p.svg' %}" id="personal_logo"/></a>
     </div>
     <p><a href="/">bradrice.com</a></p>
</header>
 <div id="main">
    <div class="container">
        {% block content %}{% endblock %}
    </div>

</div>
<footer>
		<div class="footer">
			<div class="row">
			<div class="large-4 large-offset-1 columns">
				<h5>Brad Rice</h5>
				<p>105 Evergreen Dr., Lodi, Ohio, 44254<br />
				330-948-2090</p>

				<ul class="pbox">
				<li><a href="/resume">My resumé</a></li>
				<li><a href="/portfolio">A portfolio of my web work</a></li>
			</ul>
			</div>
			<div class="large-4 large-offset-1 columns">

				<div class="icns">
					<h5>Connect</h5>
					<a href="http://www.bradrice.com/blog" target="_blank"><img src="{% static 'images/icons/BR_32.png' %}"></a>
					<a href="mailto:brad@bradrice.com"><img src="{% static 'images/icons/email_001.png' %}" alt="email"/></a>
					<a href="https://www.facebook.com/brad.c.rice" target="_blank"><img src="{% static 'images/icons/facebook_001.png' %}" alt="facebook"/></a>
					<a href="https://plus.google.com/u/0/110400900554477791544/posts" target="_blank"><img src="{% static 'images/icons/Google_Plus_001.png' %}" alt="google+"/></a>
					<a href="http://www.linkedin.com/in/bradbucks/" target="_blank"><img src="{% static 'images/icons/Linkedin_001.png' %}" alt="LinkedIn"/></a>
					<a href="http://twitter.com/brad_rice" target="_blank"><img src="{% static 'images/icons/Twitter_001.png' %}" alt="twitter"/></a>
					<a href="http://bradrice.com/blog/rss.xml"><img src="{% static 'images/icons/RSS_001.png' %}" alt="rss"/></a>
				</div>
			</div><!-- end column -->
			</div><!--end row -->
		</div><!--end footer div -->
	</footer>
</div><!-- end container -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1815807-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
 <script type="text/javascript" src="{% static 'lib/foundation/js/foundation.js' %}"></script>
    <script src="{% static 'lib/foundation/js/foundation/foundation.topbar.js' %}"></script>
</div>
<script>
    $(document).foundation();
  </script>

{%  block scripts %}
{%  endblock %}
</body>
</html>