{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block addedcss %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h4>Contact me</h4>
            <form method="post" action="." data-parsley-validate="parsley">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {% crispy form form.helper %}

            </form>

            </div>
    </div>


{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static "js/site.js" %}"></script>

{% endblock %}
