{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block addedcss %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/slick.js/slick/slick-theme.css' %}"/>
{% endblock %}
{% block content %}


    <div id="personal">
		<div class="row">
				<div class="large-12 columns">

					<h1>About me</h1>
					<p>I have been an artist all of my life, so it was natural for me to study art at <a href="http://www.uakron.edu">The University of Akron</a>. As a senior, I completed a work study in New York City at Franklin Furnace art gallery.</p>
					<p>After returning to Ohio, I worked for a number of advertising agencies as a freelancer and eventually landed a job as an illustrator for a local newspaper. While working for <a href="http://www.hkmdm.com">HKM Direct Market Communications</a>, a marketing company. I taught myself web design there where I built a web to digital print application. This experience with my love for art and design opened a door for me to return to The University of Akron as a web designer.</p>
					<p>I am married with two kids. I love my family and enjoy doing things with them and teaching them about the world of computers. My wife is the Executive Director at <a href="http://www.leadershipmedinacounty.com">Leadership Medina County</a>. Together we grow in knowledge and share our love for business, technolgy and working to better our world.</p>
					<p>I live in Lodi, Ohio, where I also serve on Village Council. I am a trustee for the <a href="http://mcdl.info">Medina County District Library</a>. I love to read. I am active in my church and continue to draw and paint as an artist.</p>
					<h3>The details</h3>
					<ul class="pbox">
						<li><a href="/resume">My resumé</a></li>
						<li><a href="/portfolio">A portfolio of my web work</a></li>
					</ul>
				</div>
            </div>
            <div class="row">
                <div class="large-7 large-offset-2 columns">
					<h3>Pencil Sketches</h3>
					<div class="polaroid" id="slides">
					<img src="{% static  'images/sketches/water_dragon.jpg' %}" alt="Water Dragon" />
					<img src="{% static  'images/sketches/nutmeg_moon.jpg' %}" alt="Nutmeg Moon" />
					<img src="{% static  'images/sketches/oak_leaf.jpg' %}" alt="Oak leaf" />
					<img src="{% static  'images/sketches/starbucks.jpg' %}" alt="Starbucks" />
					<img src="{% static  'images/sketches/waterfall.jpg' %}" alt="Waterfall" />
					<img src="{% static  'images/sketches/acoustic_dead.jpg' %}" alt="Accoustic Dead" />
					<img src="{% static  'images/sketches/pandora.jpg' %}" alt="pandora" />
					<img src="{% static  'images/sketches/iPod.jpg' %}" alt="iPod" />
				    </div>
			    </div>
            </div>

		</div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
    <script type="text/javascript" src="{% static "js/site.js" %}"></script>
    <script>
    $(document).ready(function(){
    $("#slides").slick({
        arrows: true
    });
    });
    </script>

{% endblock %}
