{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block addedcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/lightbox/css/lightbox.css' %}"/>
{% endblock %}
{% block content %}
<div id="body">
		<div class="row">
            <h2 class="large-12 columns">Web design and development</h2>
		</div>
        <div class="row">
            <div class="large-3 columns">
					<a class="gallery" id="ar2007" data-lightbox="light" data-title="The University of Akron Annual Report 2007, <a href='http://www.uakron.edu/ar/report2007/htdocs/section1.php'>Visit Site</a>" href="{% static 'images/ar2007.jpg' %}"><img src="{% static 'images/ar2007_thumb.jpg' %}" alt="Annual Report 2007" /></a>
				</div>
				<div class="large-3 columns">
					<a class="gallery" id="ar2008" data-lightbox="light" data-title="The University of Akron Annual Report 2008, <a href='http://www.uakron.edu/proenza/annual_report/2008/index.dot'>Visit Site</a>" href="{% static 'images/ar2008.jpg' %}"><img src="{% static 'images/ar2008_thumb.jpg' %}" alt="Annual Report 2008" /></a>
				</div>
				<div class="large-3 columns">
					<a class="gallery" id="ar2009" data-lightbox="light" data-title="The University of Akron Annual Report 2009, <a href='http://www.uakron.edu/proenza/annual_report/2009/index.dot'>Visit Site</a>" href="{% static 'images/ar2009.jpg' %}"><img src="{% static 'images/ar2009_thumb.jpg' %}" alt="Annual Report 2009" /></a>
				</div>
				<div class="large-3 columns">
					<a class="gallery" id="ar2010" data-lightbox="light" data-title="The University of Akron Annual Report 2010 <a href='http://www.uakron.edu/proenza/annual_report/2010/index.dot'>Visit Site</a>" href="{% static 'images/ar2010.jpg' %}"><img src="{% static 'images/ar2010_thumb.jpg' %}" alt="Annual Report 2010" /></a>
				</div>
        </div>
    <div class="row">
         <div class="large-12 columns">
				<p class="dscr">The University of Akron's president's annual report to the community 2007 - 2010.</p>
		</div>
    </div>


        <div class="row">
			<div class="large-3 columns">
			<a class="gallery" id="ar2011" data-lightbox="light" data-title="UA Annual Report from 2011. <a href='http://www.uakron.edu/proenza/annual_report/2011/index.dot'>Visit site</a>" href="{% static 'images/ar2011.jpg' %}"><img src="{% static 'images/ar2011_thumb.jpg' %}" alt="Annual Report 2011" /></a>
			<p class="dscr">In 2011 responsive techniques were becoming widely deployed. The Annual Report 2011 responsive.</p>
			</div>
			<div class="large-3 columns">
			<a class="gallery" id="m_u" data-lightbox="light" data-title="Mobile University <a href='http://m.uakron.edu'>Visit Site</a>"  href="{% static 'images/m_uakron.jpg' %}"><img src="{% static 'images/m_uakron_thumb.jpg' %}" alt="Mobile University" /></a>
			<p class="dscr">University of Akron mobile website with many of the same capabilities as our native mobile app.</p>
			</div>
			<div class="large-3 columns">
			<a class="gallery" id="resp" data-lightbox="light" data-title="Responsive University home page <a href='http://uakron.edu'>Visit Site</a>" href="{% static 'images/UA_Home.jpg' %}"><img src="{% static 'images/UA_Home_thumb.jpg' %}" alt="Responsive University home page <a href='http://uakron.edu'>Visit Site</a>" /></a>
            <p class="dscr">University of Akron, responsive home page.</p>
			</div>
			<div class="large-3 columns">
			<a class="gallery" id="curr" data-lightbox="light" data-title="Curriculum Guides <a href='http://uakron.edu/academics_majors/curriculum-guides'>Visit Site</a>" href="{% static 'images/curr_guide.jpg' %}"><img src="{% static 'images/curr_guide_thumb.jpg' %}" alt="Curriculum Guides" /></a>
			<p class="dscr"><a href="http://angularjs.org">Angular Js</a> framework driven site that pulls The University of Akron curriculum offerings.</p>
			</div>
		</div><!-- end second row of images -->

<div class="row">

			<div class="large-3 columns">
				<a class="gallery" id="innovation"  data-lightbox="light" data-title="Curriculum Guides <a href='http://uakron.edu/innovation/index-old.dot'>Visit Site</a>"  href="{% static 'images/innovation.jpg' %}"><img src="{% static 'images/innovation_thumb.jpg' %}" alt="Innovation" /></a>
				<p class="dscr">Custom built responsive site. Used to allow people to vote for their favorite spot that would be played during the superbowl.</p>
			</div>

    <div class="large-3 columns">
				<a class="gallery" id="viewbook"  data-lightbox="light" data-title="Curriculum Guides <a href='http://uakron.edu/academics_majors/curriculum-guides'>Visit Site</a>"  href="{% static 'images/viewbook.jpg' %}"><img src="{% static 'images/viewbook_thumb.jpg' %}" alt="Innovation" /></a>
				<p class="dscr">Custom built responsive site for Prospective students visiting UA.</p>
			</div>

    <div class="large-3 columns">
				<a class="gallery" id="viewbook"  data-lightbox="light" data-title="Firelands Disrict UMC website <a href='http://firelandsdistrictumc.org'>Visit Site</a>"  href="{% static 'images/firelands.jpg' %}"><img src="{% static 'images/firelands_thumb.jpg' %}" alt="Innovation" /></a>
				<p class="dscr">Custom built responsive site for Prospective students visiting UA.</p>
			</div>
            <div class="large-3 columns"></div>

		</div><!-- end 3rd row of images -->

<div class="row">
			<h2 class="large-12 columns">Print collateral advertising</h2>
		</div>

	    <div class="row">
			<div class="large-3 columns">
				<a class="c_gallery" title="Design, layout and photoshop technique" id="ncb" data-lightbox="light" href="{% static 'images/ncb_promo.jpg' %}"><img src="{% static 'images/ncb_promo_thumb.jpg' %}" alt="National City Bank promo" /></a>
			<p class="dscr">National City bank offer for car loans that gave away gas gift cards when taking out a loan.</p>
			</div>

			<div class="large-3 columns">
				<a class="c_gallery" title="Design - photoshop" id="uh1" data-lightbox="light" href="{% static 'images/uh_laurelwood_1.jpg' %}"><img src="{% static 'images/uh_laurelwood_1_thumb.jpg' %}" alt="University Hospitals Laurelwood" /></a>
			<p class="dscr">Brochure cover to promote University Health Systems Laurelwood Hospital pyschological services.</p>
			</div>

			<div class="large-3 columns">
				<a class="c_gallery" title="Design - photoshop" id="uh2" data-lightbox="light" href="{% static 'images/ua_laurelwood_2.jpg' %}"><img src="{% static 'images/ua_laurelwood_2_thumb.jpg' %}" alt="University Hospitals Laurelwood" /></a>
			<p class="dscr">Brochure cover to promote University Health Systems Laurelwood Hospital pyschological services.</p>
			</div>

			<div class="large-3 columns">
				<a class="c_gallery" title="Design, layout and photoshop technique" id="gl" data-lightbox="light" href="{% static 'images/gl_science.jpg' %}"><img src="{% static 'images/gl_science_thumb.jpg' %}" alt="Great Lakes Science Center" /></a>
			<p class="dscr">The Annual Report, 1999 for Great Lakes Science Center.</p>
	        </div>
	    </div><!-- end 4th row of images -->

<div class="row">
			<h2 class="large-12 columns">Identity</h2>
		</div>

	    <div class="row">
			<div class="large-3 columns">
				<a class="l_gallery" title="Logo Design" id="l_chamber" data-lightbox="light" href="{% static 'images/lodi_chamber.png' %}"><img src="{% static 'images/lodi_chamber_thumb.png' %}" alt="Lodi Ohio Chamber Logo" /></a>
			<p class="dscr">Logo design - Village of Lodi Chamber of Commerce</p>
			</div>

			<div class="large-3 columns">
				<a class="l_gallery" title="Logo Design" data-lightbox="light" id="vl" href="{% static 'images/village_lodi.jpg' %}"><img src="{% static 'images/village_lodi_thumb.jpg' %}" alt="Village of Lodi" /></a>
			<p class="dscr">Logo design - the Village of Lodi government.</p>
			</div>

			<div class="large-3 columns">
				<a class="l_gallery" title="Logo Design" data-lightbox="light" id="mt25" href="{% static 'images/mt25.png' %}"><img src="{% static 'images/mt25_thumb.png' %}" alt="Matthew 25 Coalliton" /></a>
			<p class="dscr">Logo design - Faith based social services.</p>
			</div>

			<div class="large-3 columns">
				<a class="l_gallery" title="Logo Design" data-lightbox="light" id="ol" href="{% static 'images/online_learners.jpg' %}"><img src="{% static 'images/online_learners_thumb.jpg' %}" alt="Online Learners" /></a>
			<p class="dscr">Logo design - The University of Akron Online Learners web application.</p>
	        </div>
	    </div><!-- end 5th row of images -->

<div class="row">
			<div class="large-3 columns">
				<a class="l_gallery" title="Logo Design" id="quickpass" data-lightbox="light" href="{% static 'images/quickpass.jpg' %}"><img src="{% static 'images/quickpass_thumb.jpg' %}" alt="Quickpass Logo" /></a>
			<p class="dscr">Logo design - Quickpass Macintosh application</p>
			</div>
			<div class="large-3 columns">
				<a class="l_gallery" title="Logo Design" id="zalert" data-lightbox="light" href="{% static 'images/Z-alert_500.png' %}"><img src="{% static 'images/Z-alert_thumb.png' %}" alt="Z-Alert Logo" /></a>
			<p class="dscr">Logo design - Z-Alert text messaging application</p>
			</div>
			<div class="large-3 columns">
				<a class="l_gallery" title="Logo Design" id="ge" data-lightbox="light" href="{% static 'images/golden_ideas.jpg' %}"><img src="{% static 'images/golden_ideas_thumb.jpg' %}" alt="Golden Ideas Logo" /></a>
			<p class="dscr">Logo design - Golden Ideas web application</p>
			</div>
			<div class="large-3 columns"></div>
		</div>

	</div><!-- end body -->

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static "js/site.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/lightbox/js/lightbox.min.js" %}"></script>
{% endblock %}