{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block addedcss %}
{% endblock %}
{% block content %}
<div id="body">
		<div class="row">
			<div class="panel intro_panel">
                <section id="int">
                    <p class="intro"><img src="{% static 'images/BradRice.png' %}" alt="self" style="float: right; margin-left: 1em; border: 1px solid #5c585f;" />I focus on designing and building semantic web sites utilizing both creative and technical skills. Melding web development and design to allows me to craft user friendly and functional websites. I utilize creative design and cutting edge technology to provide emotional and enjoyable web experiences. Designing and developing for exceptional web experiences is my passion.</p>
                </section>
		</div>
		</div>
                <section id="cr" data-center-top="background-position: 50% 70%" data-top="background-position: 50% 20%">
                    <div class="row">
                        <div class="medium-6 small-12 columns">
                            <h2>Current Experience</h2>
				<p>The University of Akron <span class="times">February 2007 - Present</span><br />
				302 Buchtel Common<br />
				Akron, OH 44325</p>
				<p><strong>Responsibilities:</strong> Web Design. Site wide development utilizing html, css, and javascript. Work with individuals, departments and top level university sites. Design and develop web apps utilizing dotcms content management system as well as PHP traditional development.</p>
                        </div>
                    </div>
                </section>
    <section id="soft">
        <div class="row">
			<div class="large-9 columns">
            <h2>Software</h2>
				<p>Adobe Photoshop, Illustrator, InDesign, Microsoft Office, Quark XPress, Macromedia Flash, Dreamweaver, Fireworks, OmniGraffle as well as other graphic applications.</p>
			</div>
		</div>
    </section>

                <section id="tech" data-center-top="background-position: 50% 50%" data-top="background-position: 30% 20%"">
                    <div class="row">
			<div class="large-9 columns">
                    <h2>Technical Expertise</h2>

				<ul class="pbox">
					<li>Design of Graphic User Interfaces, User Experience and Information Architecture</li>
					<li>Highly experienced in HTML, JavaScript and CSS</li>
					<li>Very knowledgeable with javascript libraries and frameworks such as Angular JS and JQuery</li>
					<li>Programming ability using PERL, PHP, Python (Django), Java Velocity templating and ASP</li>
					<li>Experienced with MySql and sequel language</li>
					<li>Knowledge of dotCMS, Wordpress and Content Management Systems to maintain various websites</li>
						<li>Utilize version control through Git</li>
						<li>Mobile Web interface design, Responsive web development</li>
				</ul>
				<p>Special interest in the Mac OS X (Unix) operating system and have working experience in utilizing a Mac OS workstation. I have used Macintosh for over 25 years.
					Knowledgeable of Windows and working in a Windows PC environment. Interest in Linux and virtual systems.
				</p>
                </div>
		</div>
                </section>

                <section id="port" data-center-top="background-color: rgb(187, 215, 118)" data-top-top="background-color: rgb(247, 252, 235);">
                    <div class="row">
			<div class="large-9 columns">
                    <h2>Interactive portfolio of sites</h2>
				<ul>
					<li><a class="button" href="portfolio">Portfolio</a></li>
				</ul>
                </div>
		</div>
                </section>


                <section id="re">
                    <div class="row">
			<div class="large-9 columns">
                    <div class="emp">
                        <h2>Previous Work Experience</h2>
					<p>Freelance Artist <span class="times">1991 -1992</span><br />
					<p><strong>Responsibilities:</strong> Art direction and production of advertising design.  Used a Macintosh
	computer for advertising design, page layout and illustration.  Clients included area advertising agencies.</p>
				</div>
				<div class="emp">
					<p>Richard Desberg and Associates <span class="times">1990 -1991</span><br />
					Art Director<br/>
					<strong>Responsibilities:</strong> Created retail advertising from concept to finish. Used a Macintosh computer for advertising design, page layout, and illustration. Illustrated products in pen and ink.  Clients included retail advertisers.
					</p>
				</div>
				<div class="emp">
					<p>Medina County Gazette <span class="times">1985 -1989</span><br/>
					Graphic Designer/ Illustrator<br/>
					<strong>Responsibilities:</strong> Created graphics and illustration for both editorial and advertising </p>
				</div>

                </div>
		</div>
                </section>

                <section id="cs" data-center-top="background-color: rgb(228, 208, 126);" data-top-top="background-color: rbg(255, 247, 211);">
                    <div class="row">
			<div class="large-9 columns">
                    <h2>Community Service</h2>
				<ul>
					<li>Village of Lodi, Councilman since 2000</li>
					<li>Board of Trustees member of Medina County District Library since 2012</li>
				</ul>
                </div>
                        </div>
                    </section>
            <section id="ce">
            <div class="row">
			<div class="large-9 columns">
				<h2>Continuing Education</h2>
				<ul class="pbox">
					<li>Thunder Lizard 3 day Photoshop conference - intense photoshop training with some of the best designers in the country</li>
					<li>dotCMS training in Miami Florida at the dotCMS headquarters</li>
					<li>Penn State Web conference 2013 - all things web with an emphasis on mobile and responsive design.</li>
					<li>Avid reader of technical books. My iPad is filled with ebooks for all kinds of technology</li>
				</ul>
                </div>
                        </div>
                </section>
				<section id="se">
                     <div class="row">
			<div class="large-9 columns">
                    <h2>Speaking Engagements</h2>
                <ul class="pbox">
                    <li>Penn State Web Conference 2015, Penn State University<br/>
                    <a href="http://www.slideshare.net/bradrice/managing-responsive-websites-with-css-preprocessors" target="_blank"><em>Design Responsive Websites using CSS3 Preprocessors</em></a></li>
                    <li>OHECC (Ohio Higher Education Computing Conference) 2010, The University of Akron<br />
                    <em><a href="http://www.slideshare.net/bradrice/brad-rice-content-4052359" target="_blank">Using Structured Data for Consistency in Web Content Management</a></em></li>

                    </ul>
                    </div>
		</div>
				</section>

	</div><!-- end body -->

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static "js/site.js" %}"></script>
    <script type="text/javascript" src="{% static 'lib/skrollr/dist/skrollr.min.js' %}"></script>
    <script>
        ( function( $ ) {
    // Init Skrollr
    var s = skrollr.init({
{#        render: function(data) {#}
            //Debugging - Log the current scroll position.
            //console.log(data.curTop);
{#        }#}
        mobileCheck: function() {
                //hack - forces mobile version to be off
                return false;
            }
    });
} )( jQuery );
    </script>
{% endblock %}