@import 'compass/reset';
@import 'compass';
@import 'variables';
@import 'susy';
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800);

$susy: (
  columns: 12,
  gutter: 1/8,
  math: fluid,
  output: float,
);

html {
  @include box-sizing;
}

body {
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
}

div#view {
  @include display-flex;
  @include flex-direction(column);
  height: 100vh;
}

div#main {
  @include flex(1);
  @include justify-content(flex-start);
  width: span(12);
  overflow: hidden;
  @include display-flex;
}

div.container {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-content(stretch);
  width: span(12);
}

div#lblocks {
  @include flex(2 0 0);
  @include display-flex;
}

div.wrap {
  @include flex-wrap(wrap);
  @include display-flex;
}

div#personal {
  @include flex(6 0 0);
  padding: 1em;
}

div#rblocks {
  @include flex(1 0 0);
  @include display-flex;
}


footer {
  min-height: 100px;
  background-color: $color-secondary-1-0;
  padding: 1em;
}

header {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  background-color: $color-primary-1;
  @include align-content(center);
  border-bottom: 10px dotted $color-primary-2;
  .site_head {
    margin: 1em;
  }
}

svg.box {
  width: 10px;
  height: 10px;
  margin: 0px;
  cursor: pointer;
}




