@import 'compass/reset';
@import 'compass';
@import 'variables';
@import 'susy';
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800);
@import "settings";
@import 'foundation';

$susy: (
  columns: 12,
  gutter: 1/8,
  math: fluid,
  output: float,
);

html {
  @include box-sizing;
}

body {
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
}

div#view {
  @include display-flex;
  @include flex-direction(column);
}

div#main {
  @include flex(1);
  @include flex-grow(1);
  @include justify-content(flex-start);
  width: span(12);
}

div#body {
  width: span(12);
}

div.container {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-content(stretch);
  width: span(12);
}

div#lblocks {
  @include flex(2 1 0);
  //@include display-flex;
}

div.wrap {
  @include flex-wrap(wrap);
  //@include display-flex;
}

div#personal {
  @include flex(6 0 0);
  padding: 1em;
}
div#rblocks {
  @include flex(1 1 0);
  //@include display-flex;
}


footer {
  min-height: 100px;
  background-color: $color-secondary-1-0;
  padding: 1em;
}

header {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  @include align-content(center);
  background-color: $color-primary-1;
  border-bottom: 16px dotted $color-primary-2;
  .site_head {
    margin: 1em;
  }
  &.navbar {
    margin-bottom: 1em;
  }
}

svg.box {
  width: 16px;
  height: 16px;
  margin: 0px;
  cursor: pointer;
  &:hover {
    @include scale(2);
    @include box-shadow(#ccc 2px 2px 10px);
    @include opacity(.85);
  }
}

.slick-prev:before, .slick-next:before {
    color:#7e5999 !important;
}

div.polaroid {
  border: 2px solid #aaaaaa;
}

.lightened {
  background-color: $color-primary-1;
  border-bottom: 16px dotted $color-primary-2;
}

.darkened {
  background-color: $color-primary-3;
  border-bottom: 16px dotted $color-primary-4;
}

.filtered {
    @include filter(brightness(1) saturate(1.5));
}

#personal_logo{
  &:hover{
    @include filter(blur(1px) brightness(1.3) saturate(1.5));
  }
}

a {
  color: $link-color;
  text-decoration: underline;
  &:hover {
   color: darken($link-color, 20%);
  }
}

ul.pbox li {
  background: url('../images/list_block.png') no-repeat 8px 8px transparent;
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 1px 28px;
}

p.intro {
  font-size: 1.2em;
  margin: 2em;
}

div.intro_panel {
  margin-top: 1em;
}

button.alert, .button.alert {
  background-color: $color-secondary-2-1;
  color: #1a1a1a;
}

button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: $color-secondary-2-4;
  color: #1a1a1a;
}

div#blog-sidebar {
  background-color: $color-secondary-2-2;
}

.entries-calendar td.entry {
  background-color: $color-secondary-1-2;
}
